<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>테스트용</title>
</head>
<body>
	<div id="data-container">
        <h1>MySQL에서 가져온 데이터</h1>
        <ul>
            <% data.forEach(item => { %>
                <li><%= item.cr_classroom %></li>
            <% }); %>
        </ul>
    </div>
</body>
</html>

<div id="${weeks[i].w_eng}-sc" class="day-schedule">
    <h2>${weeks[i].w_ko} 시간표</h2>
    <table>
        <thead>
            <tr>
                <th>시간</th>
                <th>1강의실</th>
                <th>2강의실</th>
                <th>3강의실</th>
                <th>4강의실</th>
                <th>5강의실</th>
                <th>6강의실</th>
                <th>7강의실</th>
                <th>8강의실</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>13:00-14:00</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
            </tr>
            <tr>
                <td>14:00-15:00</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
            </tr>
            <tr>
                <td>15:00-16:00</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
            </tr>
            <tr>
                <td>16:00-17:00</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
            </tr>
            <tr>
                <td>17:00-18:00</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
            </tr>
            <tr>
                <td>18:00-19:00</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
            </tr>
            <tr>
                <td>19:00-20:00</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
            </tr>
            <tr>
                <td>20:00-21:00</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
            </tr>
            <tr>
                <td>21:00-22:00</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
                <td>강의 내용</td>
            </tr>
        </tbody>
    </table>
</div>